/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	/* het logo */
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
}

body {
	width: 1000px;
	margin: 0 auto; /*Centreren */
}

aside {
	padding-top: 24px;
	float: left;
	display: block;
	width: 20%;
}

#tabContainer {
    float: left;
    width: 770px;
    height: 35px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: -30px;
}

.tab {
    float: left;
    text-align: center;
    height: 35px;
    width: 100px;
    margin: 0px 5px -10px 0px;
    //background-color: #ffffff;
}

.tab a {
    display: block;
    margin: auto;
    padding: 5px 20px 5px 20px;
    font-family: verdana,helvetica, arial;
    font-size: 15px;
    color: #333;

}

.tab a:hover{
    font-weight: bold;
    color: #333;
}


#main {
	padding: 25px;
    font-size: 11px;
	float: left;
	width: 700px;
	background-color: #ffffff;
	margin: 30px auto 0; /* the bottom margin is the negative value of the footer's height */
	border-right: 20px dashed #f0f0f0;
}

#main h1{
    font-size: 14px;
    border-bottom: 0px;
    border-bottom:  2px dotted;
}

header {
	/* het logo */
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
    float: left;
    margin-bottom: 20px;
	//padding-left: 120px;
	height: 150px;
    width: 1000px;
	//padding-top: 40px;
}

#carousel {
	border: 1px solid black;
	width: 650px;
	height: 200px;
}

.stereotype {
	border: 1px solid black;
	width: 100%;
	height: 150px;
	margin-top: 10px;
}

img {
	height: 150px;
	margin: 5px;
}

h1 {
	color: #294052;
	font-family: 'Carrois Gothic', sans-serif;
	border-bottom:  2px dotted #294052;
}

h2 {
	color: #447294;
	font-family: 'Carrois Gothic', sans-serif;
	border-bottom:  2px dotted #447294;
    font-size: 14px;
}

h3 {
	color: #8FBCDB;
	font-family: 'Carrois Gothic', sans-serif;
	border-bottom:  2px dotted #8FBCDB;
}

p.question {
    border: 1px dashed #afafaf;
    padding: 15px;
    width: 300px;
}

.qhead {
    display: block;
}

p button {
    margin-top: 10px;
}

aside {
	
	padding-left: 10px;
}

.hoverPeter{
    margin: 5px;
    display: block;
    width: 200px;
    height: 150px;
    background-image: url(../img/peter.jpg);
}

.hoverPeter:hover {
    background-image: url(../img/peter-o.jpg);
}

.hoverPeter a {
    display: block;
    width: 100%;
    height:100%;
}

.hoverLucy{
    margin: 5px;
    display: block;
    width: 200px;
    height: 150px;
    background-image: url(../img/lucy.jpg);
}

.hoverLucy:hover {
    background-image: url(../img/lucy-o.jpg);
}

.hoverLucy a {
    display: block;
    width: 100%;
    height:100%;
}

.hoverHans{
    margin: 5px;
    display: block;
    width: 200px;
    height: 150px;
    background-image: url(../img/hans.jpg);
}

.hoverHans:hover {
    background-image: url(../img/hans-o.jpg);
}

.hoverHans a {
    display: block;
    width: 100%;
    height:100%;
}



.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}   